.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 7%;
}
.width{
    width:25%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}
.half-width img{
    width: 100%;
}
h1{
    font-size: 50px;
}
.mission{
    font-family: 'Yeseva One', cursive;
}
body{
    font-family: 'Poppins', sans-serif;
}
.color{
    color:orange;
}
.size{
    font-size: 30px;
}
.paragraph{
    font-size: 20px;
}
.button{
    background-color: tomato;
    text-decoration: none;
    padding: 10px 40px;
    color:white;
    font-weight: 900px;
    border-radius: 5px;
}
.line{
    border-left: 7px solid;
    border-color: tomato;
    border-image-slice: 1;
    border-radius: 5px;
    padding-left: 10px;
}
.position{
    text-align: center;
}
#web-dev{
    background-color:rgb(181, 226, 241);
    border-radius: 30px;
}
#front-end{
    background-color:lightpink;
    border-radius: 30px;
}
#full-stak{
    background-color: moccasin;
    border-radius: 30px;
}
.develop{
    background-image:url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px;
}
.development{
    background-image:url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 200px;
}

